@import 'variables'; 

#_base-bk {
  background-image: url('/bk/portfolio.jpg');
  background-size: cover;
  background-position: center;
}

#_base-section {
  padding-top: 0px;
}

#_page-container-outer {
  position: relative;
  background: rgba($box-background, 0.7);
  backdrop-filter: blur(12px);
}

#_page-container {
  padding: 0.6rem 1.2rem 0.8rem;
}

#_page-sticky {
  position: sticky;
  top: 0px;
  z-index: 2;

  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding: 6px;

  border-bottom: 1px solid $box-background;
  background: rgba($box-background, 0.7);
  transition: all 0.16s;
}

#_page-sticky:hover, #_page-sticky:focus-within {
  background: rgba($box-background, 0.85);
}

#_page-sticky p {
  margin: 0;
}

#_page-toc {
  display: none;
  position: sticky;
  z-index: 2;
  top: 36px;
  float: right;
  background: rgba($box-background, 0.8);
  transition: all 0.16s;
  padding: 4px 24px 8px 8px;
}

#_page-toc > * {
  margin: 0;
}

ul {
  padding-inline-start: 24px;
}

#_page-headerbk {
  background-size: cover;
  background-position: center;
  top: -36px; /* Overlay sticky div on top of header bk */
  position: relative;
  min-height: 240px;
  width: 100%;
  margin-bottom: -36px;
}

#_page-headerbk-inner {
  // Header background present
  box-sizing: border-box;
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: #00000090;
  padding: 0.6rem 1.2rem 0.8rem;
}

#_page-header-inner {
  // No header background
  background: #00000030;
  padding: 0.6rem 1.2rem 0.8rem;
}

#_page-headerbk-inner #_page-header-content {
  position: absolute;
  bottom: 0;
}

#portfolio-grid-outer, .grid-outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 12px;
}

#portfolio-grid-outer a{
  background: none;
  text-decoration: none;
}

a:focus .portfolio-grid-item {
  outline: 2px dotted $link-color;
}

.portfolio-grid-item, .grid-item {
  display: block;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 240px;
  background: rgba($primary-color, 0.1);
  transition: transform 0.16s; 
}

.portfolio-grid-item:hover {
  transform: scale(1.03);
}

// Inside the div box
.portfolio-grid-item-inner {
  height: 100%;
  width: 100%; 
  padding: 12px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  color: $primary-color;
  display: flex;
}

.portfolio-grid-item-inner > div {
  z-index: 2;
  display: inline-block;
  align-self: flex-end;
  text-shadow: 2px 2px 4px #222;
}

.portfolio-grid-item-body {
  color: rgba($primary-color, 0.7);
}

.portfolio-grid-item-overlay {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  z-index: 3;
}

.portfolio-fade-dark {
  background: linear-gradient(to bottom, transparent, transparent 50%, #000000d0);
  z-index: 1;
}

// Portfolio entry pages

._page-portfolio-links button {
  background: none;
  // border-width: 2px;
}

a:focus._page-portfolio-link {
  background: none;
}

a:focus._page-portfolio-link button {
  border-color: $accent-color;
  background:rgba($primary-color, 0.1);
}

#_page-header-subtitle div {
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
}

#_page-header-subtitle div:not(._page-button-dropdown-wrapper) {
  border: 1px solid transparent; 
  padding: 2px 4px;
  cursor: default;
}

#_page-header-subtitle div:first-child {
  margin-left: -4px;
}

button._page-button-dropdown {
  background: none; 
  border: 1px solid transparent; 
  padding: 2px 4px;
  margin-bottom: 0;
  text-align: left;
  // font-size: 18px;
}

button._page-button-dropdown:hover, button._page-button-dropdown:focus {
  background: rgba($primary-color, 0.12);
  border-color: $accent-color;
}

button._page-button-dropdown:active {
  background: rgba($primary-color, 0.24);
}

._page-label-subtitle {
  display: block;
  font-size: 14px;
  color: rgba($primary-color, 0.7);
}

// Plugin backgrounds and base styling

.musicWrapper {
  font-family: $font-head;
}

#musicWrapper-player {
  background: darken(rgba($box-background, 0.4), 20%);
  backdrop-filter: blur(4px);
}

#musicWrapper-pb {
  background: darken(rgba($primary-color, 0.9), 40%);
  backdrop-filter: blur(4px);
}

@media screen and (max-width: 960px) {
  #portfolio-grid-outer, .grid-outer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  #portfolio-grid-outer, .grid-outer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 640px) {
  ._page-portfolio-links {
    float: right;
  }
}

@media screen and (min-width: 1201px) {
  #_base-section {
    padding-top: 64px;
    padding-bottom: 24px;
  }
}