{% extends 'base.html' %}

{% block base_outer %}
<style>

  #img-header {
    display: block; 
    margin: auto; 
    padding-top: 60px;
    padding-bottom: 60px;
    max-height: 240px;
  }

  #_base-section {
    padding: 12px;
  }

  #landing-top {
    text-align: center;
    position: relative;
    top: 0; 
    left: 0; 
    background: transparent; 
    width: 100%;
    height: 100vh; 
  }

  #landing-video {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #landing-content {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
  }

  #landing-content button {
    padding: 12px 4px;
    width: 300px;
    margin: 8px;
  }

  #landing-content .material-icons {
    font-size: 28px;
    width: 28px;
    height: 28px;
  }

  #landing-content > * {
    font-size: 1.2rem;
  }

  #landing-content a {
    text-shadow: 2px 2px 4px #000;
  }

</style>

<div id='landing-top'>
  <video id='landing-video' muted autoplay loop src='/videos/landing-bk.mp4'></video>
  <div id='landing-content'>
    <img id='img-header' src='images/wofol-logo.png' alt='Wofol Logo'/>
    <br/>
  
    <a href='/portfolio/wofol' tabindex='-1'><button><span class='material-icons'>description</span> Documentation + Examples</button></a>
    <a href='/portfolio/demo' tabindex='-1'><button><span class='material-icons'>lightbulb</span> Sample Portfolio Pages</button></a>
    
    <br/>

    <a href='#about'><span class='material-icons'>expand_more</span> Learn More</a>
  </div>
</div>
{% endblock base_outer %}

{% block base %}
  <h1 id='about'>Welcome to Wofol!</h1>
  <p><b>Wofol</b> (<i>woe-foe</i>) (a portmanteau of "web portfolio") is a highly customizable, interactive portfolio template. </p>
  <h2>What (does it do)?</h2>
  <p>Wofol natively supports: </p>
  <ul>
    <li>Writing portfolio entires in Markdown with minimal code</li>
    <li>The flexibility to still add HTML/CSS/JS directly for complete customizability</li>
    <li>Lightbox images and inline music players</li>
  </ul>

  <h2>Why (should I use it)?</h2>
  <p>Wofol is targeted towards a very specific audience: technical users who want <i>complete flexibility</i> over their website, but <i>don't want to make a website from scratch</i>.</p>
  <p>The heart of Wofol is <a href='https://www.getzola.org/' target='_blank'>Zola</a>, a <a href='https://tera.netlify.app/' target='_blank'>Tera</a> based static site generator designed to turn simple, human-readable markdown into HTML. This is then combined with lots of CSS, JavaScript, and template files to turn said HTML into beautiful - and functional - portfolio pages. Minimal coding experience needed! </p>

  <h2>Where (can I see examples)?</h2>
  <p>Two "portfolios" have been created to showcase what Wofol has to offer: a feature demonstration/documentation one, and a mock "real portfolio" to show several possible use cases.</p>
  <ul>

  </ul>

  <p>Landing video credits: <a href='https://pixabay.com/users/snrsteeve-16870568' target='_blank'>Steeve Gunness from Pixabay</a></p>
{% endblock base %}