{% extends "base.html" %}

{% block base_head %}
<link rel='stylesheet' href='/css/portfolio.css'/>
<link rel='stylesheet' href='/plugins/musicPlayer.css'/>
{% endblock base_head %}

{% block base_outer %}
<div id='_base-header'>
  <p><a href='..'><span class="material-icons">chevron_left</span>Go Back</a></p>
</div>
{% endblock base_outer %}

{% block base %}
<div id='_base-container'>
  {% block content %} {% endblock %}
</div>
<script src='/plugins/musicPlayer.js'></script>
{% endblock base %}