{% extends "page.html" %}

{% block content %}
<div id='_page-container'>
  <p><a href='..'><span class="material-icons">chevron_left</span>All Portfolios</a></p>
  <h1 class='title'>{{ section.title }}</h1>
  <div id='portfolio-grid-outer'>
    {% for page in section.pages %}
    <a href='{{ page.permalink | safe }}'>
      <div class='portfolio-grid-item'>
        <div class='portfolio-grid-item-inner' {% if page.extra.header %}style='background-image: url("{{page.permalink}}{{page.extra.header}}")'{% endif %}>
          <div>
            <h3>{{ page.title }}</h3>
            <p><i>{{ page.description }}</i></p>
          </div>
        </div>
        <div class='portfolio-grid-item-overlay portfolio-fade-dark'></div>
        <div class='portfolio-grid-item-overlay'></div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div>
    <h2>Timeline</h2>
    {% for page in section.pages %}
      {% if page.extra.timeline %}
        {% for entry in page.extra.timeline %}
          <p>{{page.title}} | {{entry.date}} | {{entry.description}}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<script src='/plugins/3dCards.js'></script>
{% endblock content %}