{% extends "page.html" %}

{% block content %}
  <style>
    ._portfolio-dir-entry {
      border: 1px solid #ffffff; 
      padding: 0 1rem 1rem;
      margin-bottom: 1.2rem;
      background: #0000004f;
      transition: all 0.16s;
    }
    ._portfolio-dir-entry:hover {
      background: #5555554f;
      transform: scale(1.01);
    }
    a._portfolio-dir-link {
      text-decoration: none;
    }
  </style>
  <p><a href='..'><span class="material-icons">chevron_left</span>Landing Page</a></p>
  <h1 class="title">
    {{ section.title }}
  </h1>
  <p>
  </p>
  {% for subsection in section.subsections %}
    {% set section = get_section(path=subsection) %}
    <a href='{{ section.permalink }}' class='_portfolio-dir-link'>
      <div class='_portfolio-dir-entry'>
        <h2>{{ section.title }}</h2>
        <p>{{ section.description }}</p>
      </div>
    </a>
  {% endfor %}
{% endblock content %}