{% extends "page.html" %}

{% block page_outer %}
<div id='_page-sticky'>
  <p><a href='..'><span class="material-icons">chevron_left</span>Go Back</a> {% if page.toc %}<a id='_page-toc-a' href='#' style='float: right'><span class="material-icons">list</span> TOC</a>{% endif %}</p>
</div>
{% if page.toc %}
  <div id='_page-toc'>
    <p><b>Table of Contents</b></p>
    <ul>
      <li><a class='_page-toc-item' href='#'>Go to Top</a></li>
      {% for h1 in page.toc %}
        <li>
            <a class='_page-toc-item' href='{{ h1.permalink | safe }}'>{{ h1.title }}</a>
            {% if h1.children %}
              <ul>
                {% for h2 in h1.children %}
                  <li>
                    <a class='_page-toc-item' href='{{ h2.permalink | safe }}'>{{ h2.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
        </li>
      {% endfor %}
      </ul>
  </div>
  <script src='/plugins/toc.js'></script>
{% endif %}
{% endblock page_outer %}

{% block content %}
{% if page.extra.header %}
<div id='_page-headerbk' style='background-image: url("{{ page.extra.header }}")'>
  <div id='_page-headerbk-inner'>
{% else %}
<div id='_page-header'>
  <div id='_page-header-inner'>
{% endif %}
<div id='_page-header-content'>
{% if page.title %}
  <h1 class='title'>{{ page.title }}</h1>
{% endif %}
<div id='_page-header-subtitle'>
{% if page.extra.timeline %}
  <div class='_page-button-dropdown-wrapper'>
    <button class='_page-button-dropdown'><span class='_page-label-subtitle'>Last Major Update</span>{{ page.date | replace(from="-",to=".") }}<span class='material-icons'>expand_more</span></button>
  <!-- {% for entry in page.extra.timeline %}
    <p><span>{{ entry.date }}</span> {{ entry.description }}</p>
  {% endfor %} -->
  </div>
{% elif page.date %}
  <div><span class='_page-label-subtitle'>Date</span><b>{{ page.date | replace(from="-",to=".") }}</b></div>
{% endif %}
{% if page.extra.status %}
  <div><span class='_page-label-subtitle'>Status</span>Maintenance</div>
  {% endif %}
</div>
{% if page.description %}
  <p><i>{{ page.description }}</i></p>
{% endif %}
</div> <!-- Subtitle closing div -->
</div></div>
<div id='_page-container'>
  {% if page.extra.link %}
    <div class='_page-portfolio-links'>
    {% for link in page.extra.link %}
      <a href='{{link.href}}' target='_blank' class='_page-portfolio-link'><button tabindex='-1'>{% if link.icon %}<span class='material-icons'>{{ link.icon }}</span> {% endif %}{{ link.text }}</button></a>
    {% endfor %}
    </div>
  {% endif %}
  {{ page.content | safe }}
</div>
{% endblock content %}